<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin-new-post.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    <title>منشور جديد</title>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <%- include('sidebar.html') %>
        <div class="container">
            <form>
                <input type="text" name="title" id="title" placeholder="عنوان المنشور.." required>
                <select name="category" id="category">
                    <option value="coding">برمجة</option>
                    <option value="linux">لينكس</option>
                    <option value="foss">برمجيات حرة</option>
                    <option value="general-topics" selected>مواضيع عامة</option>
                </select>
                <input type="file" name="post-thumbnail" id="post-thumbnail" accept="image/*" required>
                <%- include('quillEditor', {content: null}) %>
                    <input type="submit" value="حفظ" />
            </form>
        </div>
        <%- include('snackbar.html') %>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/admin-new-post.js"></script>
</body>

</html>