<nav class="navbar">
    <link rel="stylesheet" href="/styles/navbar.css">
    
    <div class="nav-links" id="navLinks">
        <a href="/">الرئيسية</a>
        <a class="category-link" id="general-topics" href="">مواضيع عامة</a>
        <a class="category-link" id="coding" href="">برمجة</a>
        <a class="category-link" id="linux" href="">لينكس</a>
        <a class="category-link" id="foss" href="">برمجيات حرة</a>
    </div>

    <div class="slogan">
        شاهين
    </div>

    <button class="menu-btn" id="menuBtn">☰</button>
    <script src="/js/navbar.js"></script>
</nav>