<div class="editorContainer">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
    <link rel="stylesheet" href="/styles/quillEditor.css">
    <div id="toolbar-container">
        <span class="ql-formats">
            <button class="ql-header" value="1"></button>
            <button class="ql-header" value="2"></button>
            <button class="ql-header" value="3"></button>
            <button class="ql-header" value="4"></button>
            <button class="ql-blockquote"></button>
            <button class="ql-code-block"></button>
        </span>

        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-underline"></button>
        </span>

        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-direction" value="rtl"></button>
            <select class="ql-align"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
            <button class="ql-formula"></button>
        </span>
    </div>
    <div id="editor"></div>
    <!-- Include the Quill library -->
    <script>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="/js/quillEditor.js"></script>
    <% if (content) { %>
        <script>
            const malformedJSON = '<%- content %>';
            const fixedJSON = malformedJSON.replace(/\n/g, "\\n");
            const deltaData = JSON.parse(fixedJSON);
            quill.setContents(deltaData);
        </script>
        <% } %>
</div>