<!-- Sidebar Component -->

<aside class="sidebar">
    <link rel="stylesheet" href="/styles/sidebar.css">
    <span class="slogan">صفحة الإشراف</span>
    <hr />
    <div class="actions">
        <div class="action">
            <i class="iconoir-home"></i>
            <a href="/admin">الرئيسية</a>
        </div>
        <div class="action">
            <i class="iconoir-page-plus"></i>
            <a href="/admin/new-post">منشور جديد</a>
        </div>
        <div class="action">
            <i class="iconoir-multiple-pages"></i>
            <a href="/admin/drafts">مسودة</a>
        </div>
    </div>
</aside>