/* This is Admin Page Styling */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root {
    --purple: #6a00ff;
    --dark-purple: #5d03dc;
    --light-purple: #b1ade6;
    --light-gray: #e4e1e8;
    --secondary-dark-purple: #13002d;
}

/* General Styling */
* {
    padding: 0;
    margin: 0;
    font-family: "Tajawal";
}

/* Container Styling */
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100dvh;
    margin-right: 216px;
}

/* 1. Search Section */
.search-section {
    background-color: var(--light-purple);
}

.search-section form {
    display: flex;
    justify-content: center;
    padding: 12px 12px;
}

.search-section input {
    height: 36px;
    flex-grow: 1;
    background-color: var(--light-gray);
    padding: 0 4px;
    font-size: 1.2rem;
    padding: 4px 4px;
    border-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-section input:focus {
    outline: none;
}

.search-section button {
    font-size: 1.2rem;
    padding: 0 10px;
    color: white;
    background-color: var(--purple);
    border-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-section button:hover {
    cursor: pointer;
    background-color: var(--dark-purple);
}

/* 2. Posts Section */

.container .posts-container {
    flex-grow: 1;
    background-color: var(--light-gray);
    padding: 12px 12px;
}

.container .posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.post {
    background-color: white;
    position: relative;
    overflow: hidden;
}

.post-content {
    padding: 0 12px 12px 12px;
}

.post-content .category {
    font-size: 0.7rem;
    color: gray;
}

.post-content h1 {
    font-size: 1.3rem;
}

.post img {
    width: 100%;
    object-fit: cover;
}

/* 3. Post Actions */
.post-actions {
    position: absolute;
    left: -44px;
    bottom: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.post-actions i {
    transition: all 0.2s ease-in-out;
}

.post-actions i:hover{
    scale: 1.1;
    cursor: pointer;
}

.post:hover .post-actions {
    left: 6px;
    opacity: 1;
}

.post-actions i {
    padding: 2px;
    border-radius: 5px;
    background-color: var(--light-gray);
}
