/* This is Home Page Styling */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root {
    --purple: #6a00ff;
    --dark-purple: #5d03dc;
    --light-purple: #b1ade6;
    --light-gray: #e4e1e8;
    --secondary-dark-purple: #13002d;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Tajawal";
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* Navbar styling */
.nav-bar {
    background-color: var(--purple);
    color: white;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    gap: 4px;
}

.nav-bar-actions {
    display: flex;
    justify-content: center;
}

.slogan {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    align-content: center;
    background-color: white;
    color: var(--purple);
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 32px;
}

.nav-bar-item {
    display: inline;
    align-content: center;
    font-size: 1.125rem;
    transition: background-color 100ms ease-in;
}

.nav-bar-item a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 16px 8px;
}

.nav-bar-item:hover {
    background-color: var(--dark-purple);
}

/* Styling welcome section */
.welcome-section {
    padding: 12px 0 24px;
    display: flex;
    background-color: var(--light-purple);
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 12px;
}

.welcome-section h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--purple);
}

.welcome-section form {
    display: flex;
    justify-content: center;
}

.welcome-section input {
    width: 40%;
    height: 36px;
    background-color: var(--light-gray);
    padding: 0 4px;
    font-size: 1.2rem;
    padding: 4px 4px;
    border-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.welcome-section input:focus {
    outline: none;
}

.welcome-section button {
    font-size: 1.2rem;
    padding: 0 10px;
    color: white;
    background-color: var(--purple);
    border-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.welcome-section button:hover {
    cursor: pointer;
    background-color: var(--dark-purple);
}

/* All posts section styling */
.all-posts {
    flex: 1;
    display: grid;
    background-color: var(--light-gray);
    padding: 12px 12px;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

h1 > a {
    text-decoration: none;
    color: var(--secondary-dark-purple);
}

h1 > a:hover {
    text-decoration: underline;
}

.post {
    background-color: white;
}

.post-content {
    padding: 0 12px 12px 12px;
}

.post-content .category {
    font-size: 0.7rem;
    color: gray;
}

.post-content h1 {
    font-size: 1.3rem;
}

.post img {
    width: 100%;
    object-fit: cover;
}

/* Footer styling */

.footer {
    background-color: var(--secondary-dark-purple);
    display: flex;
    padding: 12px 12px;
    align-items: center;
    color: white;
}

.footer span {
    padding: 0 6px;
}

.footer hr {
    flex-grow: 1;
    height: 2px;
    border: none;
}

hr.left {
    background: linear-gradient(to right, transparent, white);
}

hr.right {
    background: linear-gradient(to left, transparent, white);
}