.editorContainer {
    direction: ltr;
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
}

#editor {
    flex: 1;
    min-height: 0;
    /* Essential for flex children */
}


.ql-editor {
    overflow-y: auto;
    /* Enable internal scrolling */
    padding: 4px;
    font-size: 1rem;
}